@page
@functions
{
    public void OnGet()
    {
        ViewData["Title"] = "Northwind B2B - Tools";
    }
}
<!DOCTYPE html>
<html>
<head>
<title>Useful Tools</title>
</head>
<body>

<h1>Please select tool:</h1>
<p>
<hr />    
<a class="btn btn-primary" href="times">Generate Times Tables</a>
</p>
<p>
<a class="btn btn-primary" href="factorials">Calculate Factorials</a>
</p>
<p>
<a class="btn btn-primary" href="tax">Calculate Tax</a>
</p>
<p>&nbsp;</p>
<p>
<a class="btn btn-primary" href="index">Go Back</a>
</p>

</body>
</html>